In [ ]:
import pandas as pd
import pymysql
import _mysql_connector as mysql
from sqlalchemy import create_engine

In [77]:
df= pd.read_csv("Walmart.csv")
df.head()

,invoice_id,Branch,City,category,unit_price,quantity,date,time,payment_method,rating,profit_margin
0,1,WALM003,San Antonio,Health and beauty,$74.69,7.0,05-01-2019,13:08:00,Ewallet,9.1,0.48
1,2,WALM048,Harlingen,Electronic accessories,$15.28,5.0,08-03-2019,10:29:00,Cash,9.6,0.48
2,3,WALM067,Haltom City,Home and lifestyle,$46.33,7.0,03-03-2019,13:23:00,Credit card,7.4,0.33
3,4,WALM064,Bedford,Health and beauty,$58.22,8.0,27-01-2019,20:33:00,Ewallet,8.4,0.33
4,5,WALM013,Irving,Sports and travel,$86.31,7.0,08-02-2019,10:37:00,Ewallet,5.3,0.48

In [78]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10051 entries, 0 to 10050
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   invoice_id      10051 non-null  int64
 1   Branch          10051 non-null  object
 2   City            10051 non-null  object
 3   category        10051 non-null  object
 4   unit_price      10020 non-null  object
 5   quantity        10020 non-null  float64
 6   date            10051 non-null  object
 7   time            10051 non-null  object
 8   payment_method  10051 non-null  object
 9   rating          10051 non-null  float64
 10  profit_margin   10051 non-null  float64
dtypes: float64(3), int64(1), object(7)
memory usage: 863.9+ KB

In [79]:
df.shape
df.describe()

         invoice_id      quantity        rating  profit_margin
count  10051.000000  10020.000000  10051.000000   10051.000000
mean    5025.741220      2.353493      5.825659       0.393791
std     2901.174372      1.602658      1.763991       0.090669
min        1.000000      1.000000      3.000000       0.180000
25%     2513.500000      1.000000      4.000000       0.330000
50%     5026.000000      2.000000      6.000000       0.330000
75%     7538.500000      3.000000      7.000000       0.480000
max    10000.000000     10.000000     10.000000       0.570000

In [80]:
df.duplicated().sum()

np.int64(51)

In [81]:
df.drop_duplicates(inplace=True)
df.duplicated().sum()
df.shape

(10000, 11)

In [82]:
df.isnull().sum()

invoice_id         0
Branch             0
City               0
category           0
unit_price        31
quantity          31
date               0
time               0
payment_method     0
rating             0
profit_margin      0
dtype: int64

In [83]:
df.dropna(inplace=True)
df.isnull().sum()
df.shape

(9969, 11)

In [84]:
df.dtypes

invoice_id          int64
Branch             object
City               object
category           object
unit_price         object
quantity          float64
date               object
time               object
payment_method     object
rating            float64
profit_margin     float64
dtype: object

In [85]:
df["unit_price"]=df["unit_price"].str.replace('$','',regex=False).astype(float)

In [86]:
df.dtypes

invoice_id          int64
Branch             object
City               object
category           object
unit_price        float64
quantity          float64
date               object
time               object
payment_method     object
rating            float64
profit_margin     float64
dtype: object

In [87]:
df.columns

Index(['invoice_id', 'Branch', 'City', 'category', 'unit_price', 'quantity',
       'date', 'time', 'payment_method', 'rating', 'profit_margin'],
      dtype='object')

In [88]:
df["total_price"]=df["unit_price"]* df["quantity"]
df.head()

,invoice_id,Branch,City,category,unit_price,quantity,date,time,payment_method,rating,profit_margin,total_price
0,1,WALM003,San Antonio,Health and beauty,74.69,7.0,05-01-2019,13:08:00,Ewallet,9.1,0.48,522.83
1,2,WALM048,Harlingen,Electronic accessories,15.28,5.0,08-03-2019,10:29:00,Cash,9.6,0.48,76.40
2,3,WALM067,Haltom City,Home and lifestyle,46.33,7.0,03-03-2019,13:23:00,Credit card,7.4,0.33,324.31
3,4,WALM064,Bedford,Health and beauty,58.22,8.0,27-01-2019,20:33:00,Ewallet,8.4,0.33,465.76
4,5,WALM013,Irving,Sports and travel,86.31,7.0,08-02-2019,10:37:00,Ewallet,5.3,0.48,604.17

In [89]:
df.columns=df.columns.str.lower()
df.columns

Index(['invoice_id', 'branch', 'city', 'category', 'unit_price', 'quantity',
       'date', 'time', 'payment_method', 'rating', 'profit_margin',
       'total_price'],
      dtype='object')

In [92]:
df.shape

(9969, 12)

In [93]:
df.to_csv('walmart_clean_data.csv', index=False)

In [96]:
engine_mysql = create_engine('mysql+pymysql://root:local123@localhost:3306/walmart_db')
try:
    engine
    print("connect success")
except:
    print("fail")

connect success

In [101]:
df["date"] = pd.to_datetime(df["date"], format="%d-%m-%Y")
df.head()

,invoice_id,branch,city,category,unit_price,quantity,date,time,payment_method,rating,profit_margin,total_price
0,1,WALM003,San Antonio,Health and beauty,74.69,7.0,2019-01-05,13:08:00,Ewallet,9.1,0.48,522.83
1,2,WALM048,Harlingen,Electronic accessories,15.28,5.0,2019-03-08,10:29:00,Cash,9.6,0.48,76.40
2,3,WALM067,Haltom City,Home and lifestyle,46.33,7.0,2019-03-03,13:23:00,Credit card,7.4,0.33,324.31
3,4,WALM064,Bedford,Health and beauty,58.22,8.0,2019-01-27,20:33:00,Ewallet,8.4,0.33,465.76
4,5,WALM013,Irving,Sports and travel,86.31,7.0,2019-02-08,10:37:00,Ewallet,5.3,0.48,604.17

In [108]:
df["time"] = pd.to_datetime(df["time"], format="%H:%M:%S").dt.time

In [110]:
df.to_sql("walmart", engine, if_exists="append", index=False)

IntegrityError: (MySQLdb.IntegrityError) (1062, "Duplicate entry '1' for key 'walmart.PRIMARY'")
[SQL: INSERT INTO walmart (invoice_id, branch, city, category, unit_price, quantity, date, time, payment_method, rating, profit_margin, total_price) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)]
[parameters: [(1, 'WALM003', 'San Antonio', 'Health and beauty', 74.69, 7.0, datetime.datetime(2019, 1, 5, 0, 0), datetime.time(13, 8), 'Ewallet', 9.1, 0.48, 522.8299999999999), (2, 'WALM048', 'Harlingen', 'Electronic accessories', 15.28, 5.0, datetime.datetime(2019, 3, 8, 0, 0), datetime.time(10, 29), 'Cash', 9.6, 0.48, 76.39999999999999), (3, 'WALM067', 'Haltom City', 'Home and lifestyle', 46.33, 7.0, datetime.datetime(2019, 3, 3, 0, 0), datetime.time(13, 23), 'Credit card', 7.4, 0.33, 324.31), (4, 'WALM064', 'Bedford', 'Health and beauty', 58.22, 8.0, datetime.datetime(2019, 1, 27, 0, 0), datetime.time(20, 33), 'Ewallet', 8.4, 0.33, 465.76), (5, 'WALM013', 'Irving', 'Sports and travel', 86.31, 7.0, datetime.datetime(2019, 2, 8, 0, 0), datetime.time(10, 37), 'Ewallet', 5.3, 0.48, 604.1700000000001), (6, 'WALM026', 'Denton', 'Electronic accessories', 85.39, 7.0, datetime.datetime(2019, 3, 25, 0, 0), datetime.time(18, 30), 'Ewallet', 4.1, 0.48, 597.73), (7, 'WALM088', 'Cleburne', 'Electronic accessories', 68.84, 6.0, datetime.datetime(2019, 2, 25, 0, 0), datetime.time(14, 36), 'Ewallet', 5.8, 0.33, 413.04), (8, 'WALM100', 'Canyon', 'Home and lifestyle', 73.56, 10.0, datetime.datetime(2019, 2, 24, 0, 0), datetime.time(11, 38), 'Ewallet', 8.0, 0.18, 735.6)  ... displaying 10 of 9969 total bound parameter sets ...  (9999, 'WALM032', 'Tyler', 'Home and lifestyle', 79.0, 2.0, datetime.datetime(2021, 2, 25, 0, 0), datetime.time(12, 25), 'Cash', 7.0, 0.48, 158.0), (10000, 'WALM069', 'Rockwall', 'Fashion accessories', 62.0, 3.0, datetime.datetime(2020, 9, 26, 0, 0), datetime.time(9, 48), 'Cash', 3.0, 0.33, 186.0)]]
(Background on this error at: https://sqlalche.me/e/20/gkpj)